{% extends 'store/base.html' %}


{% block content %}
<center>
    <h1> Detail page of {{product.name}} </h1><br><br><br>

            <img src="{{ product.image.url}}" alt="{{ product.name }}" style="width: 350px; height:250px ">
            <h2>name  : <font color="purple"> {{ product.name }}</font></h2>
            <h2>price : <font color="purple"> {{ product.price }} </font>$</h2>
            <h2>description : <font color="purple"> {{ product.description }}</font></h2>

        <center>
                 <h5><a href="{% url 'product_list' %}">home</a></h5>
                <h5><a href="{% url 'add_to_cart'   product.slug  %}">Add_to_cart </a></h5>
        </center>

</center>

{% endblock %}